<template>
  <div>
    <v-toolbar dark color="primary">
      <v-toolbar-title class="white--text">Phofish</v-toolbar-title>
    </v-toolbar>
    <router-view></router-view>
    <v-bottom-nav v-bind:click="navigateTo()" absolute shift :active.sync="selectedTab">
      <v-btn flat value="timeline">
        <v-icon>ondemand_video</v-icon>
      </v-btn>
      <v-btn flat value="post">
        <v-icon>book</v-icon>
      </v-btn>
      <v-btn flat value="my_profile">
        <v-icon>image</v-icon>
      </v-btn>
    </v-bottom-nav>
  </div>
</template>

<script>
export default {
  name: 'home',
  data: () => ({
    selectedTab: 'timeline'
  }),

  methods: {
    navigateTo () {
      this.$router.push({name: this.selectedTab})
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
