<template>
  <v-container fluid class="welcome-page">
    <v-container>
      <v-alert type="error" :value="true">
        POST
      </v-alert>
      <v-layout row text-md-center>
        <welcome-header></welcome-header>
      </v-layout>
    </v-container>
  </v-container>
</template>
