<template>
  <v-container fluid class="welcome-page">
    <v-container>
      <v-alert type="error" :value="auth_error">
        {{auth_error}}
      </v-alert>
      <v-layout row text-md-center>
        <welcome-header></welcome-header>
      </v-layout>

      <v-btn v-on:click="$router.push('login')" block color="info">Login</v-btn>
      <v-btn v-on:click="$router.push('sign-up')" block color="success">Sign up</v-btn>
      <v-btn v-on:click="loginWithFacebook()" block color="info">
        <v-icon left dark>code</v-icon>
        Login with facebook
      </v-btn>

    </v-container>
  </v-container>
</template>

<script>
import welcomeHeader from '@/components/WelcomeHeader'
import facebookWrapper from '@/common/facebook.wrapper'
import { mapState } from 'vuex'

export default {
  name: 'welcome',
  data: () => ({
    auth_error: false
  }),

  components: {
    welcomeHeader
  },

  methods: {
    loginWithFacebook () {
      facebookWrapper.makeLogin().then((accessToken) => {
        this.$store.dispatch('login', {facebook_token: accessToken})
          .then(() => this.$router.push({ path: '/login' }))
      }).catch(() => {
        this.auth_error = 'Facebook error'
      })
    }
  },

  computed: {
    ...mapState({
      errors: state => state.auth.errors
    })
  }
}
</script>

<style scoped>
.welcome-page {
  background-color: #6699ff;
}
</style>
