<template>
  <v-btn v-bind:class="classObject" v-on:click="doAction()">
    <v-icon left light>{{icon}}</v-icon>
    {{title}}
  </v-btn>
</template>

<script>

export default {
  name: 'FollowButton',
  props: {
    userId: {
      type: String
    },
    isFollowing: {
      type: Boolean
    }
  },
  methods: {
    doAction () {
      // TODO
      console.log('TODO action to follow')
    }
  },
  computed: {
    classObject () {
      return this.isFollowing ? 'following' : 'not-following'
    },
    title () {
      return this.isFollowing ? 'Following' : 'Follow'
    },
    icon () {
      return this.isFollowing ? 'alarm_on' : 'alarm_add'
    }
  }
}
</script>

<style scoped lang="scss">
.following {
  color: #ff0000;
}
.not-following {
  color: #00ff00;
}
</style>
